<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porto Novo Barano</title>
    <link rel="shortcut icon" href="./public/source/images/PORTO-NOVO-BARANO-FAVICON.png" type="image/x-icon">
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="stylesheet" href="./public/css/fonts.css">
    <meta name="author" content="Franco Cunha Duarte">
</head>
<body>
    <main>
        <div class="error-container">
            <h3>404</h3>
            <h5>NOT FOUND</h5>
            <a href="/es">Go Home</a>
            <div class="hook-fishes-box">
                <img class="hook-image" draggable="false" src="./public/source/images/hook.png">
                <div class="dead-fishes-box">
                    <img class="fish-1" draggable="false" src="./public/source/images/dead-fish.png">
                    <img class="fish-2" draggable="false" src="./public/source/images/dead-fish.png">
                    <img class="fish-3" draggable="false" src="./public/source/images/dead-fish.png">
                </div>
            </div>
        </div>
    </main>
</body>